<div header-content></div>
<div class="graph text-center">
    <div class="graph-con" image-size-class>
        <img src="" alt="graph" class="img-fluid" image-url>
        <a href="" target="_blank" class="open-graph" title="Open Graph" push-graph-launcher-right>
            <img src="/images/graph-up.png">
        </a>
    </div>
    <div caption-text>
        <div class="caption-text"></div>
    </div>
    <div caption-html></div>
</div>
<div class="caption-after-graph" caption-html-after></div>