<div class="container-fluid horizontal-group-4">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-6 default-justify text-center" item-1></div>
                <div class="col-12 col-md-6 default-justify text-center" item-2></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-6 default-justify text-center" item-3></div>
                <div class="col-12 col-md-6 default-justify text-center" item-4></div>
            </div>
        </div>
    </div>
</div>