.no-flexbox > body .post-nav {
    text-align: center;
}

.no-flexbox > body .post-nav > ul {
    display: inline-block;
}

.no-flexbox > body .post-nav > ul > li {
    display: inline-block;
    float:left;
}

.no-flexbox > body > #post .card-header ul {
    text-align: left;
}

.no-flexbox > body > #post .card-header li {
    display: inline-block;
}

.no-flexbox #appendix .card {
    display: inline-block;
}