#appendix .alert {
    display: inline-block;
}

#appendix .alert > strong  {
    display: block;
}

#appendix .definition {
    vertical-align: top;
    padding-left:50px;
}

#appendix .appendix-seperator {
    border-top:1px solid gray;
}

.topic-instance:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.alert-info .topic-instance:not(:last-child) {
    border-bottom: 1px solid #abdde5;
}

.alert-success .topic-instance:not(:last-child) {
    border-bottom: 1px solid #b1dfbb; 
}

.alert-warning .topic-instance:not(:last-child) {
    border-bottom: 1px solid #ffe8a1;
}

#appendix .card-body > .alert:last-of-type {
    margin-bottom: 0;
    /* this is because the alerts have a margin bottom that extra extra space at the end of each section */
}

.topic {
    margin-bottom: 1.5em;
}

.function-note {
    font-weight: normal !important;
    font-size: small;
    font-style: italic;
}

.pseudo-topic-instance-header + *,
.topic-instance > strong + * {
    margin-top: 5px;
}

.topic > .card > .card-body > h4 {
    /* the topic-primer and topic-eli5 have this same margin. by bootstrap default this margin is .5 but it looks bad if those <p>s have a bigger margin this the h4 */
    margin-bottom: 1rem;
}

.topic > .card > .card-body > h4 + p {
    /* subtract the margin from the style above */
    margin-top: -.5rem; 
}

#appendix .graph .equation-with-fraction {
    margin-top: 1em;
}

#appendix .alert-warning {
    border: 3px dashed black;
    position:relative;
}

#appendix .alert-warning:after {
    position:absolute;
    top:4px;
    right:4px;
}

@media only screen and (min-width: 1230px) {
    #appendix .widest-width-1100 {
        width: 1100px;
    }
}

#appendix .matrix-step {
    display: inline-block;
}

#appendix .matrix-example {
    white-space: nowrap;
}

@media only screen and (min-width: 600px) {
    #appendix .matrix-step-width-140 {
        margin-left: 140px !important;
    }
    #appendix .matrix-step-width-140 .matrix-step {
        display: inline-block;
        width: 140px;
    }
}
@media only screen and (min-width: 1199px) {
    #appendix .matrix-step-width-140 {
        text-align: center;
        margin-left: auto !important;
        display: block;
    }
    #appendix .matrix-step-width-140 .matrix-step {
        width: auto !important;
    }
}

#appendix .limit-950 {
    width: 100%;
    max-width: 950px;
}

#appendix .limit-1250 {
    width: 100%;
    max-width: 1250px;
}

@media only screen and (min-width: 1199px) {
    #appendix .xl-limit-1250 {
        width: 100%;
        max-width: 1250px;
    }
}

#appendix .table.limit-breakdown th,
#appendix .table.limit-breakdown td {
    border-top-color: #b1dfbb;
    height: 66px;
}

@media only screen and (min-width: 1050px) {
    /* the vertical gap this class creates is maximized when the text above it has no line breaks. so reduce that manually... */
    .solving-triangles-example .height-260 {
        height: 235px;
    }
}

#appendix .simple-data-set {
    margin-top: 1em;
}

#appendix .gaussian-elimination-examples .horizontal-group-2-item.first-item .matrix {
    width: 170px;
}

#appendix .gaussian-elimination-examples .horizontal-group-2-item.first-item .matrix-step {
    width: 155px;
}

#appendix .gaussian-elimination-examples .horizontal-group-2-item.second-item .matrix {
    width: 180px;
}

#appendix .gaussian-elimination-examples .horizontal-group-2-item.second-item .matrix-step {
    width: 150px;
}