.cheat-container > .cheat-light {
    filter:grayscale(100%);
    vertical-align: top;
    cursor: pointer;
    transition: .4s;
}

.cheat-container > .cheat-text {
    color:white;
    background:white;
    transition: .4s;
}

.cheat-container:not(.on) > .cheat-text::selection { background:white; }
.cheat-container:not(.on) > .cheat-text::-moz-selection { background:white; }

.cheat-container.on > .cheat-light {
    filter:grayscale(0%);
}

.cheat-container.on > .cheat-text {
    color:rgb(220,53,69);
}