#appendix .triangle-basic {
    max-width: 250px;
}

#appendix .triangle-1-sqrt3-3 {
    max-width: 198.5px;    
}

.triangle-1-1-sqrt2 {
    width: 100%;
    max-width: 150px;
}

.triangle-rotate-1-2-sqrt3 {
    width: 100%;
    max-width: 215px;
}

.width-125 {
    width: 125px;
}

.width-250 {
    width: 250px;
}

.width-350 {
    width: 350px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-225 {
    max-width: 225px;
}

.max-width-350 {
    max-width: 350px;
}

.max-width-400 {
    max-width: 400px;
}

.max-width-1000 {
    max-width: 1000px;
}

.max-width-1600 {
    max-width: 1600px;
}

    /* this needs some extra uumph. is 100% temporary until i can take a second look. */
    .ideal-width-300 {
        width: 300px;
    }
    /* works fine for me though. vector calculus appendix real-valued functions*/
    .ideal-width-800 {
        width: 100%;
        max-width: 800px;
    }
    .ideal-width-1000 {
        width: 100%;
        max-width: 1000px;
    }
    .ideal-width-1100 {
        width: 100%;
        max-width: 1100px;
    }
    .ideal-width-1200 {
        width: 100%;
        max-width: 1200px;
    }

    @media only screen and (max-width: 1199px) {
        .ideal-width-500-under-1199 {
            width: 100%;
            max-width: 500px;
        }
    }

.margin-top-1-em {
    margin-top: 1em;
}

.margin-top-one-half-em {
    margin-top: .5em;
}

.margin-bottom-1-em {
    margin-bottom: 1em !important;
}

.margin-right-1-em {
    margin-right: 1em;
}

.height-155 {
    height: 155px;
}

.height-260 {
    height: 260px;
}

.full-width {
    width: 100%;
}

.min-width-350 {
    min-width: 350px;
}