.horizontal-group-2-topic-container {
    width: 100%;
}

.horizontal-group-2-item.second-item > .graph-header {
    margin-top: 13px;
}

.alert-success .horizontal-group-2-item {
    border-bottom-color: #b1dfbb !important;
    border-right-color: #b1dfbb !important;
}

.horizontal-group-2-item.first-item {
    border-bottom: 1px solid #abdde5;
}

.horizontal-group-2 .display-text {
    position: static;
}
.horizontal-group-2 .space-text {
    display: none;
}

.horizontal-group-2 .height-155, 
.horizontal-group-2 .height-260 {
    height: inherit;
}

@media only screen and (min-width: 768px) {
    .horizontal-group-2-item.first-item {
        border-bottom: none;
        border-right: 1px solid #abdde5;
    }
    .horizontal-group-2 .display-text {
        position: absolute;
    }
    .horizontal-group-2 .space-text {
        display: inline;
    }
    .horizontal-group-2-item.second-item > .graph-header {
        margin-top: 0;
    }
    .horizontal-group-2 .height-155 {
        height: 155px;
    }
    .horizontal-group-2 .height-260 {
        height: 260px;
    }
}

.horizontal-group-2 .horizontal-group-2-item.second-item .table tr:last-child td {
    padding-bottom: 0;
}