/*
    these media queries are the opposite of mobile first 
    https://getbootstrap.com/docs/4.0/layout/grid/
*/

.horizontal-group-3-topic-container {
    width: 100%;
}
.horizontal-group-3-topic-container > .topic-instance > strong + * {
    margin-top: 1em;
}

@media only screen and (min-width: 991px) {
    .horizontal-group-3-topic-container {
        max-width: 1200px;
    }
}

/* this is a leftover from a bad design. for one, the breakpoints are wrong.
for two, the whole point of this media query is so the launch graph button doesnt get hidden. */
@media only screen and (max-width: 991px) {
    /* 
        the fact that normal is used here is just out of convenience. 
        left linear algebra equations in n variables how it is ("normal")
        but calculus one-sided and two-sided limits needed the graph to
        be  bigger, which is was prompted me to add normal to this
    */
    .horizontal-group-3.normal .graph-size-1 {
        max-width: 150px;
    }
    .horizontal-group-3.normal .graph-size-2 {
        max-width: 180px;
    }
}


@media only screen and (max-width: 767px) {
    .horizontal-group-3-topic-container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 767px) {
    .horizontal-group-3.normal:not(:first-of-type) {
        border-left: none !important;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .alert-success .horizontal-group-3.normal:not(:first-of-type) {
        border-top: 1px solid #b1dfbb;
    }
    .alert-info .horizontal-group-3.normal:not(:first-of-type) {
        border-top: 1px solid #abdde5;
    }
}

@media only screen and (max-width: 991px) {
    .horizontal-group-3-container.wide-horizontal-group-3-container {
        max-width: 400px;
    }
    .horizontal-group-3.wide:not(:first-of-type) {
        border-left: none !important;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .alert-success .horizontal-group-3.wide:not(:first-of-type) {
        border-top: 1px solid #b1dfbb;
    }
    .alert-info .horizontal-group-3.wide:not(:first-of-type) {
        border-top: 1px solid #abdde5;
    }
}

.horizontal-group-3-container.extra-wide-horizontal-group-3-container {
    /*
        this style is used in conjuction with the style below. e.g.
        @media only screen and (max-width: 1199px) {
            .horizontal-group-3-container.extra-wide-horizontal-group-3-container {
                ...
        without it there is a margin on the right side. not sure what it's from.
     */
    width: auto !important;
}

@media only screen and (max-width: 1199px) {
    .horizontal-group-3-container.extra-wide-horizontal-group-3-container {
        width: 100%;
        max-width: 500px;
    }
    .horizontal-group-3.extra-wide:not(:first-of-type) {
        border-left: none !important;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .alert-success .horizontal-group-3.extra-wide:not(:first-of-type) {
        border-top: 1px solid #b1dfbb;
    }
    .alert-info .horizontal-group-3.extra-wide:not(:first-of-type) {
        border-top: 1px solid #abdde5;
    }
}


.alert-info .horizontal-group-3:not(:first-of-type) {
    border-left: 1px solid #abdde5;
}

.alert-success .horizontal-group-3:not(:first-of-type) {
    border-left: 1px solid #b1dfbb;
}

.horizontal-group-3 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; this was messing up spacing on one sided limits. toggled it on/off on linear algebra appendix and it didn't seem to change anything */
    flex-grow: 1;
}

.default-justify,
.horizontal-group-3.default-justify {
    justify-content: flex-start;
}