.date {
    margin-top: 20px;
}

.subject-options {
    margin-bottom: 4px;
}

    .subject-options > .badge {
        margin-left: 4px;
    }

.post-nav > ul {
    margin: 16px;
}
/******* NAV *********/
#solutions,
#work {
    display: none;
}

[data-showing="true"]  {
    display: block;
}
[data-showing="false"] {
    display: none !important;
}
[data-showing="true"] {
    display: block !important;    
}

@media only screen and (max-width: 500px) {
    body > .navbar {
        justify-content: center;
    }
}

@media only screen and (max-width: 350px) {
    .post-nav > ul {
        display: block;
    }
    .post-nav > ul > li {
        text-align: center;
    }
}
/******* Problems, Solutions and Work *********/
#post li {
    list-style-position: inside;
}
#post ol {
    font-weight:bold;
}
#post li > * {
    font-weight: normal;
}
#problems > ol > li,
#solutions > ol > li,
#problems > ol > li ol > li:not(:last-child),
#solutions > ol > li ol > li:not(:last-child) {
    margin-bottom:5px;
}
#problems > ol > li > *,
#solutions > ol > li > *,
#work > ol > li > * {
    display: inline-block;
    vertical-align: top;
}
#post .mjx-math {
    background-color: white;
}
#work img {
    max-width: 180px;
}
#problems > ol > li > * {
    display: inline-block;
}
#post ol ol li {
    list-style-type: lower-alpha;
}
#post ol ol li > * {
}
/******* GLOSSARY *********/
/*https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working*/
#glossary ol {
    counter-reset: item;
    padding-left: 16px;
}

#glossary ol > li {
    counter-increment: item;
}

#glossary .topic-list > li {
    display: block;
}

#glossary .topic-list > li:before {
    content: counters(item, ".") " ";
}

/******* APPENDIX *********/
#appendix .alert {
    display: inline-block; /********** ???????????????????????????????????????? */
}
#appendix .definition {
    vertical-align: top;
    padding-left:50px;
}
#appendix .appendix-seperator {
    border-top:1px solid gray;
}
/******* NO FLEXBOX SHIM *******/
.no-flexbox > body {
    min-width: 600px;
}
    .no-flexbox > body > nav > .btn-group {
        display: inline-block;
        float: right;
    }
    .no-flexbox > body .post-nav {
        text-align: center;
    }
    .no-flexbox > body .post-nav > ul {
        display: inline-block;
    }
    .no-flexbox > body .post-nav > ul > li {
        display: inline-block;
        float:left;
    }
    .no-flexbox > body > #post .card-header ul {
        text-align: left;
    }
    .no-flexbox > body > #post .card-header li {
        display: inline-block;
    }