.date {
    margin-top: 20px;
}

.subject-options {
    margin-bottom: 4px;
}

    .subject-options > .badge {
        margin-left: 4px;
    }

.post-nav > ul {
    margin: 16px;
}

/******* NAV *********/
#solutions,
#work {
    display: none;
}

[data-showing="true"]  {
    display: block;
}
[data-showing="false"] {
    display: none !important;
}
[data-showing="true"] {
    display: block !important;    
}

@media only screen and (max-width: 500px) {
    body > .navbar {
        justify-content: center;
    }
}

@media only screen and (max-width: 350px) {
    .post-nav > ul {
        display: block;
    }
    .post-nav > ul > li {
        text-align: center;
    }
}
/******* EASY POST STYLES *********/
#post ol,
#post .function-group-count {
    font-weight:bold;
}
#post li > * {
    font-weight: normal;
}
#post .mjx-math {
    background-color: white;
}
#work img {
    max-width: 180px;
}
#post ol ol li {
    list-style-type: lower-alpha;
}
/******* PROBLEM SPACING ********/
#componentsContainer li {
    list-style-position: inside;
}
.problem > *,
#work img {
    display: inline-block;
    vertical-align: top;
}

.problem:not(:last-child) {
    padding-bottom: 12px;
}
.question {
    padding-bottom: 2px;
}
.problem li:not(:last-child) {
    padding-bottom:5px;
}
#post .mjx-chtml {
    font-size: 100% !important;
}

/******* GLOSSARY *********/
/*https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working*/
#glossary ol {
    counter-reset: item;
    padding-left: 16px;
}

#glossary ol > li {
    counter-increment: item;
}

#glossary .topic-list > li {
    display: block;
}

#glossary .topic-list > li:before {
    content: counters(item, ".") " ";
}

/******* APPENDIX *********/
#appendix .alert {
    display: inline-block;
}
#appendix .alert > strong {
    display: block;
}
#appendix .definition {
    vertical-align: top;
    padding-left:50px;
}
#appendix .appendix-seperator {
    border-top:1px solid gray;
}

/******* FUNCTION GROUP *******/
.function-group-carrier {
    display: inline-block;
    vertical-align: middle;
}
.function-group {
    display: inline-block;
}
.function-group > * {
    margin-right: 15px;
}
.function-group > :not(:last-child) {
    margin-bottom: 15px;    
}
.function-group *  {
    white-space: nowrap;
}
.function-group-space-hack {
    visibility: hidden;
}
/******* APPENDIX DIAGRAM BY EXAMPLE *******/
#appendix .diagram-by-example {
    display: inline-block;
}
#appendix .diagram-by-example > img {
    display: inline-block;
    width: 100%;
}
#appendix .function-group > * {
    margin-left: 1em;
    margin-bottom:25px;
}

#appendix .triangle-basic {
    max-width: 250px;
}
#appendix .triangle-1-sqrt3-3 {
    max-width: 198.5px;    
}

@media only screen and (max-width: 800px) {
    #appendix .function-group-carrier {
        display: block;
    }
    #appendix .diagram-by-example {
        text-align: center;
    }
    #appendix .diagram-by-example > img {
        margin-bottom: 25px;
    }
    #appendix .function-group > * {
        margin-left: 7.5px;
        margin-right: 7.5px;
        text-align: left;
    }
}


/******* NO FLEXBOX SHIM *******/
.no-flexbox > body {
    min-width: 600px;
}
    .no-flexbox > body > nav > .btn-group {
        display: inline-block;
        float: right;
    }
    .no-flexbox > body .post-nav {
        text-align: center;
    }
    .no-flexbox > body .post-nav > ul {
        display: inline-block;
    }
    .no-flexbox > body .post-nav > ul > li {
        display: inline-block;
        float:left;
    }
    .no-flexbox > body > #post .card-header ul {
        text-align: left;
    }
    .no-flexbox > body > #post .card-header li {
        display: inline-block;
    }