.steps {
    margin-top: .5em;
}

.steps table {
    width: 100%;
}

.steps td {
    vertical-align: top;
}

.steps .step-number {
    width: 62px;
    white-space: nowrap;
}

.steps .step-instructions {
    text-align: left;
}

.steps .step-actions {
    padding-top: .5em;
}

.steps .step:not(:last-child) .step-actions {
    padding-bottom: .5em;
}

.steps .double-step-vertical-padding .step-actions {
    padding-top: 1em;
}

.steps .step:not(:last-child) .double-step-vertical-padding .step-actions {
    padding-bottom: 1em;
}

.steps .simd {
    display: flex;
    flex-wrap: wrap;
}

.steps .simd > * {
    padding-right: 2em;
}

.steps .step:last-child {
    /*margin-bottom: 1em; TODOOOOOOOOOOOOOOOOOOOOOO */
}