.three-group-html {
    margin-bottom: 20px;
}

.three-group-item {
    display: inline-block;
    margin-right: 50px;
}

@media only screen and (max-width: 675px) {
    .three-group-item {
        display: block;
        margin-right: 0;
    }
    .three-group-item:not(:last-child) {
        margin-bottom: 30px;
    }
}